<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <meta name="description" content="{{ name }}" />
    <meta name="keywords" content="{{ name }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" media="screen" />
    <link href="/static/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>{{ yourname }}<p>{{ text }}</p></h1>
            <a href="#">&nbsp;&nbsp;博客|Blog&nbsp;&nbsp;</a>
            <a href="#">关于|About</a>
        </div>
        <video id="bgvideo" autoplay="true" width="100%" loop="loop" name="media" poster="{{ backgroundimg }}">
            <source src="{{ mp4 }}" type="video/mp4"/>
            您的浏览器不支持 video 标签。请使用更先进的浏览器,如<a href="http://www.google.cn/chrome/browser/" target="_blank">Chrome浏览器</a>或<a href="http://www.firefox.com.cn/download/" target="_blank">Firefox浏览器</a>
        </video>
    </div>
</body>
</html>
